{{ 'hero-slider.css' | asset_url | stylesheet_tag }}

<style>
  .hero-banner__tag, .hero-banner__description {
    font-size: {{section.settings.tag_font_size}}rem;
  }
  .hero-banner__title {
    font-size: {{section.settings.heading_size}}rem;
  }
  .hero-banner__button {
    color: {{ section.settings.btn_color }};
    background-color:{{ section.settings.btn_background_color }};
    width: {{section.settings.button_width}}px;
    padding: {{section.settings.padding}}px;
    border-radius: {{section.settings.border_radius}}px;
  }
</style>

<div class="hero-section">
  <div class="hero-banner">
    <div class="hero-banner__background" style="background-position: {{ section.settings.background_position }}">
      {% if section.settings.background_image %}
        {{
          section.settings.background_image
          | image_url: width: 2000
          | image_tag: class: 'hero-banner__background-image', loading: 'lazy', alt: ''
        }}
      {% endif %}
    </div>

    <div
      class="hero-banner__overlay"
      style="
        background-color: {{ section.settings.overlay_color }};
        opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
      "
    ></div>

    <div
      class="hero-banner__content hero-banner__content--{{ section.settings.content_alignment }}"
      style="color: {{ section.settings.text_color }}; background-color: {{ section.settings.background_color }}"
    >
      {% if section.settings.tag_text != blank %}
        <div class="hero-banner__tag">{{ section.settings.tag_text }}</div>
      {% endif %}

      {% if section.settings.title != blank %}
        <div class="hero-banner__title">
          {{ section.settings.title }}
        </div>
      {% endif %}

      {% if section.settings.description != blank %}
        <div class="hero-banner__description">{{ section.settings.description }}</div>
      {% endif %}

      {% if section.settings.button_text != blank and section.settings.button_link != blank %}
        <a
          href="{{ section.settings.button_link }}"
          class="hero-banner__button"
        >
          {{ section.settings.button_text }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero Banner with Products",
    "settings": [
      {
        "type": "header",
        "content": "Background Settings"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay Color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Overlay Opacity",
        "default": 50
      },
      {
    "type": "select",
    "id": "background_position",
    "label": "Background Position",
    "options": [
      { "value": "top left", "label": "Top Left" },
      { "value": "top center", "label": "Top Center" },
      { "value": "top right", "label": "Top Right" },
      { "value": "center left", "label": "Center Left" },
      { "value": "center center", "label": "Center Center" },
      { "value": "center right", "label": "Center Right" },
      { "value": "bottom left", "label": "Bottom Left" },
      { "value": "bottom center", "label": "Bottom Center" },
      { "value": "bottom right", "label": "Bottom Right" }
    ],
    "default": "center center"
    },
      {
        "type": "header",
        "content": "Banner Content"
      },
      {
        "type": "text",
        "id": "tag_text",
        "label": "Tag Text",
        "default": "New Arrival!"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Transform Your Space with Our New Collection"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Discover our stunning new collection of furniture, designed to elevate your space with style and comfort."
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "BUY NOW"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "range",
        "id": "button_width",
        "min": 0,
        "max": 300,
        "step": 4,
        "unit": "px",
        "label": "Button width",
        "default": 120
      },
      {
        "type": "range",
        "id": "padding",
        "min": 0,
        "max": 300,
        "step": 4,
        "unit": "px",
        "label": "padding",
        "default": 120
      },
      {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Button border radius",
        "default": 0
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Content Style"
      },
      {
        "type": "range",
        "id": "tag_font_size",
        "label": "Tag Font Size",
        "default": 2,
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "rem"
      },
      {
        "type": "header",
        "content": "Style Settings"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Content Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
       {
        "type": "range",
        "id": "heading_size",
        "label": "Heading Font Size",
        "default": 2,
        "min": 1,
        "max": 20,
        "step": 0.5,
        "unit": "rem"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "btn_color",
        "label": "Button Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "background_color",
        "default": "#000",
        "label": "Content Background"
      },
      {
        "type": "color",
        "id": "btn_background_color",
        "default": "#000",
        "label": "Button Background"
      },
  
    ],
    "presets": [
      {
        "name": "Custom Hero"
      }
    ]
  }
  {% endschema %}
