{{ 'hero-banner-products.css' | asset_url | stylesheet_tag }}

<style>
  .multicolumn-product-cards .card {
    background: {{ section.settings.background_gradient }};
    opacity: {{ section.settings.gradient_opacity | divided_by: 100.0 }};
  }
  .current-price, .old-price-prod {
    color: {{section.settings.price}};

  }
  .current-price {
    font-size: {{section.settings.price_size}}rem;
    font-weight: {{ section.settings.heading_font_weight }};
  }
  .product-title-cust{
    font-size: {{section.settings.head_title}}rem;
    color: {{section.settings.price_title}}
  }
</style>

<div
  class="multicolumn-product-cards multicolumn-product-cards--{{ section.settings.content_alignment }}"
>
  {% for product in section.settings.products %}
    <div class="card">
      <img
        class="image-multi"
        src="{{ product.featured_image | image_url: width: 500 }}"
        loading="lazy"
        alt="{{ product.title }}"
      >

      <div class="lolito">
        <p class="product-title-cust">{{ product.title }}</p>
        <p class="product-price">
          <span class="current-price">${{ product.price }}</span>
          {% if product.compare_at_price > product.price %}
            <span class="old-price-prod">${{ product.compare_at_price }}</span>
          {% endif %}
        </p>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Multicolumn Product Cards",
  "settings": [
    {
      "type": "product_list",
      "id": "products",
      "label": "Products",
      "limit": 3
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "text",
      "id": "background_gradient",
      "label": "Background Gradient",
      "default": "linear-gradient(to right, #C0C0C0A1, #B7C38CB2)"
    },
    {
      "type": "range",
      "id": "gradient_opacity",
      "label": "Gradient Opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "Description Info"
    },
    {
      "type": "color",
      "label": "Price title",
      "id": "price_title",
      "default": "#283618"
    },
    {
      "type": "range",
      "id": "title_size",
      "label": "Title size",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "color",
      "label": "Price",
      "id": "price",
      "default": "#7C8F3E"
    },
    {
      "type": "range",
      "id": "price_size",
      "label": "Font size",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "label": "Heading Font Weight",
      "options": [
        { "value": "100", "label": "Thin" },
        { "value": "200", "label": "Extra Light" },
        { "value": "300", "label": "Light" },
        { "value": "400", "label": "Normal" },
        { "value": "500", "label": "Medium" },
        { "value": "600", "label": "Semi-Bold" },
        { "value": "700", "label": "Bold" },
        { "value": "800", "label": "Extra Bold" },
        { "value": "900", "label": "Black" }
      ],
      "default": "400"
    },
  ],
  "presets": [
    {
      "name": "Multicolumn Product Cards",
      "category": "Custom"
    }
  ]
}
{% endschema %}
